<a href="https://colab.research.google.com/github/lqh52/TransferMarket/blob/main/Basic_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libaries and data preparation

In [ ]:
import numpy as np
import pandas as pd

players = pd.read_csv('/content/train.csv')
players.head(20)

                name  age  team  ...  goals  assists  market_value
0      Kylian Mbappé   22     3  ...     26        9         180.0
1             Neymar   29     3  ...     13        6         128.0
2         Sadio Mané   28     1  ...     12        5         120.0
3      Mohamed Salah   28     1  ...     25        4         120.0
4         Harry Kane   27    10  ...     24       16         120.0
5     Erling Haaland   20    13  ...     31        8         110.0
6    Raheem Sterling   26     2  ...     13       10         110.0
7         João Félix   21     7  ...     10        5         100.0
8       Jadon Sancho   20    13  ...     12       16         100.0
9      Romelu Lukaku   27    12  ...     24        7          90.0
10     Heung-min Son   28    10  ...     18       16          90.0
11         Ansu Fati   18     5  ...      5        4          80.0
12   Marcus Rashford   23     9  ...     18       12          80.0
13      Lionel Messi   33     5  ...     25       11          80.0
14   Roberto Firmino   29     1  ...      6        7          72.0
15  Lautaro Martínez   23    12  ...     15        8          70.0
16   Mikel Oyarzabal   23    28  ...     12        8          70.0
17    Bernardo Silva   26     2  ...      5        5          70.0
18      Paulo Dybala   27    11  ...      3        2          70.0
19       Timo Werner   25     6  ...     10        9          70.0

[20 rows x 8 columns]

In [ ]:
players['team'] = 1/(1 + np.log(players['team'])) #Re-scale

In [ ]:
players.head()

            name  age      team  ...  goals  assists  market_value
0  Kylian Mbappé   22  0.476505  ...     26        9         180.0
1         Neymar   29  0.476505  ...     13        6         128.0
2     Sadio Mané   28  1.000000  ...     12        5         120.0
3  Mohamed Salah   28  1.000000  ...     25        4         120.0
4     Harry Kane   27  0.302793  ...     24       16         120.0

[5 rows x 8 columns]

In [ ]:
players['goals'] = players['goals']*players['team']
players['assists'] = players['assists']*players['team']
players['points_per_game'] = players['points_per_game']*players['team']

In [ ]:
df = players.drop(columns = ['name', 'appearances', 'team'])

In [ ]:
df = df.iloc[10:50,:]

In [ ]:
df.head()

    age  points_per_game     goals   assists  market_value
10   28         0.566223  5.450276  4.844690          90.0
11   18         0.766449  1.916121  1.532897          80.0
12   23         0.619287  5.629883  3.753255          80.0
13   33         0.777945  9.580607  4.215467          80.0
14   29         1.680000  6.000000  7.000000          72.0

In [ ]:
#Tách data set thành training set và test set
msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]

In [ ]:
X_train = train.iloc[:,0:4]
Y_train = train.iloc[:,4]
# print(X_train)
# print(Y_train)

In [ ]:
# Building Xbar 
one = np.ones((X_train.shape[0], 1))
Xbar_train = np.concatenate((one, X_train), axis = 1)

In [ ]:
# Tính theo công thức
A = np.dot(Xbar_train.T, Xbar_train)
b = np.dot(Xbar_train.T, Y_train)
w = np.dot(np.linalg.pinv(A), b)
print('w = ', w)

w =  [64.61363586 -0.4804419  -8.54463536  1.20344026  3.77644572]

In [ ]:
#Thử đưa vào test set
X_test = test.iloc[:,0:4]
Y_test = test.iloc[:,4]


one = np.ones((X_test.shape[0], 1))
Xbar_test = np.concatenate((one, X_test), axis = 1)

avgError = 0

for i in range(X_test.shape[0]):
  x_test = Xbar_test[i,0:5].T
  y_predict = np.dot(x_test, w)
  print('y predict: {}, y real: {}'.format(y_predict, Y_test.iloc[i]))
  avgError += abs(y_predict - Y_test.iloc[i])

print(avgError/X_test.shape[0])

y predict: 53.404196832809795, y real: 70.0
y predict: 65.42180523914502, y real: 60.0
y predict: 61.581955047603486, y real: 50.0
y predict: 52.532745972010986, y real: 50.0
y predict: 63.62178058873313, y real: 50.0
y predict: 47.321659963637295, y real: 50.0
y predict: 62.5102205947754, y real: 48.0
y predict: 55.29056297480992, y real: 45.0
9.654151702578854